body {
  padding: 0;
  margin: 0;
  text-align: center;
  counter-reset: loading;
}

#game-board {
  background: url('../images/background.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
}

#menu-final {
  position: absolute;
  left: 0;
  top:18em;
  right: 0;
  margin: auto;
  width: 1000px;
  height: 500px;
  background: url('../images/mission-failed.png') no-repeat;
  background-size:cover;
}

#victory{
  position: absolute;
  left: 0;
  top:18em;
  right: 0;
  margin: auto;
  width: 1000px;
  height: 500px;
  background: url('../images/vitory.png') no-repeat;
  background-size:cover;
}

.no-visible {
  display: none !important;
}
.visible {
  display: inline;
}

canvas {
  border: 2px solid black;
  margin-top: 18em;
}

#menu-start{
  position: absolute;
  left: 0;
  top:18em;
  right: 0;
  margin: auto;
  width: 1000px;
  height: 500px;
  background: url('../images/main-menu.png') no-repeat;
  background-size:cover;
}

#retry-button {
  background: url('../images/btn-retry.png') no-repeat;
  margin: 4em auto;
  width: 10em;
  height: 4.5em;
  
}
#score-failed {
  color: white;
  font-size: 40px;
  margin-top: 5.3em;
}

#loading {
  position: absolute;
  left: 0;
  top:18em;
  right: 0;
  margin: auto;
  width: 1000px;
  height: 500px;
  background: url('../images/background-loading.png') no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}



progress::-moz-progress-bar { background: #EFB810; }
progress::-webkit-progress-value { background: #EFB810; }
progress[value]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../images/loading-bar.png') no-repeat;
  color: #EFB810;
}


#play-button {
  background: url('../images/btn-play.png') no-repeat;
  margin-top: 25%;
}

#setting-button {
  background: url('../images/btn-setting.png') no-repeat;
}
.button {
  margin-left: 38%;
  cursor: pointer;
  height: 4.5em;

}

