@font-face{
  font-family: pressStart;
  src: url('../PressStart2P-Regular.ttf');
}




body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'pressStart';
}


#game-board {
  background: url('../images/background.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.menu {
  position: absolute;
  left: 0;
  top:20%;
  right: 0;
  margin: auto;
  width: 1000px;
  height: 500px;
}

canvas {
  position: absolute;
  left: 0;
  top: 20%;
  right: 0;
  margin: auto;
}

#menu-final {
  background: url('../images/mission-failed.png') no-repeat;
  background-size: cover;
}

#victory{
  background: url('../images/vitory.png') no-repeat;
  background-size: cover;
}

.no-visible {
  display: none !important;
}
.visible {
  display: inline;
}
.disable {
  opacity: .4;
}

canvas {
  border: 2px solid black;
  position: absolute;
  left: 0;
  top: 20%;
  right: 0;
  margin: auto;
}

#menu-start{
  background: url('../images/main-menu.png') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: flex-end;
}

#retry-button {
  background: url('../images/btn-retry.png') no-repeat;
  margin: 6em auto;
}
.score {
  color: white;
  font-size: 40px;
  margin-top: 5.3em;
}

#loading {
  background: url('../images/background-loading.png') no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}



progress::-moz-progress-bar { background: #EFB810; }
progress::-webkit-progress-value { background: #EFB810; }
progress[value]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../images/loading-bar.png') no-repeat;
  color: #EFB810;
  border: solid 2px #EFB810;
  margin-bottom: 1em;
  padding: 2px;
  width: 80%;
}
#how-to-play {
  box-sizing: border-box;
  padding: 11em 2em 3em;
  background: url('../images/how-to-play.png') no-repeat center;
  background-size:cover;
  display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}
#how-to-play > div {
  width: 50%;
  border: 1px solid black;
  background-color: black;
}
#how-to-play > img {
  margin-left: 30px;
  float: right;
  width: 42%;
}

#levels-menu {
  background: url('../images/level-menu.png') no-repeat;
  background-size:cover;
  height: inherit;
  display: flex;
    justify-content: center;
    align-items: center;
}

#levels-menu div{
  background-size: contain;
  width: 7em;
}
#level-one {
  background: url('../images/1.png') no-repeat;
  background-size: contain;
}
#level-two {
  background: url('../images/2.png') no-repeat;
  background-size: contain;
}
#level-three {
  background: url('../images/3.png') no-repeat;
  background-size: contain;
}

.indicationGame {
  padding: .6em 3em;
  border-bottom: solid 2px grey;
  color: #f4f4f4;
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.indicationGame:last-child{
  border-bottom:0
}
.letter {
  border: 1px solid black;
  box-shadow: .5px .5px 2px;
  padding: 4px;
  float: right;
}

#arrow-back {
  transform: rotate(180deg);
}
#arrow-up {
  transform: rotate(-90deg);
}
#arrow-bottom {
  transform: rotate(90deg);
}

#back-button {
  background: url('../images/button-back.png') no-repeat;
  position: absolute;
  right: 2%;
  bottom: 1%;
  background-size: contain;
}
#level-button {
  background: url('../images/btn-levels.png') no-repeat;
  background-size: contain;
 
}

.button-level {
  width: 10vh;
  height: 10vh;
  margin-right: 10px;
}


#play-button {
  background: url('../images/btn-play.png') no-repeat;
  margin-top: 10%;
  background-size: contain;
}

#setting-button {
  background: url('../images/btn-how-to-play.png') no-repeat;
  background-size: contain;
}

.menu-button {
  background: url('../images/button-menu.png') no-repeat;
  background-size: contain;
}

#next-level {
  background: url('../images/button-next-level.png') no-repeat;
  background-size: contain;
}

#menu-button, #next-level {
  margin: 7em auto -5em;
}

button {
  cursor: url(../images/objetivo.png), pointer;
}


.button {
  border:0;
  width: 24vh;

  height: 5em;
}

